# MQTT Configuration
MQTT_HOST=your_mqtt_host
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=
MQTT_BASE_TOPIC=zigbee2mqtt

# Database Configuration
DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost:5432/your_db

# Application Configuration
DEBUG=False
LOG_LEVEL=INFO
QUEUE_MAX_COMMIT_SIZE=20
